p{
    font-size: 10rem;
}

hr {
    width: 100%;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background-color:#e9ecef;
    margin-top: 0 !important;
    margin-bottom: 3rem;
}